[include mainsail.cfg]
# This file contains common pin mappings for the BIGTREETECH Manta M8P V1.1
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4A002E000F504B4633373520-if00

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 20000
max_z_velocity: 40
max_z_accel: 1000
square_corner_velocity: 10

#[include PIS.cfg]

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 104.0
shaper_type_y = mzv
shaper_freq_y = 72.4

###########  MOTORS  #########################

[stepper_x]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
microsteps: 32
rotation_distance: 40
endstop_pin: !PF3
homing_retract_dist: 0
position_endstop: 0
position_max: 190
homing_speed: 100
homing_retract_dist: 5.0

[tmc5160 stepper_x]
cs_pin: PC10
#spi_bus: spi1
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: False
sense_resistor: 0.075
run_current: 2
stealthchop_threshold : 0



[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 32
rotation_distance: 40
endstop_pin: PF4
homing_retract_dist: 0
position_endstop: 0
position_max: 205
homing_speed: 100
homing_retract_dist: 5.0


[tmc5160 stepper_y]
cs_pin: PF13
#spi_bus: spi1
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: False
sense_resistor: 0.075
run_current: 2
stealthchop_threshold : 0



[extruder]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
microsteps: 64
rotation_distance: 4.4
nozzle_diameter: 0.6
filament_diameter: 1.75
heater_pin: PE3 
sensor_pin: PA1 
pullup_resistor: 4700
sensor_type: PT1000
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280
pressure_advance :0.03
max_power: 1
max_extrude_only_distance: 999999
min_extrude_temp: 0

[tmc2240 extruder]
cs_pin: PF9
#spi_bus: spi1
run_current: 0.8
interpolate: True
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6




[stepper_z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
endstop_pin: probe:z_virtual_endstop
microsteps: 64
rotation_distance: 8
position_min: -10
position_max: 210
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2240 stepper_z]
cs_pin: PD4
#spi_bus: spi1
run_current: 1
interpolate: True
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6



[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
microsteps: 64
rotation_distance: 8


[tmc2240 stepper_z1]
cs_pin: PD0
#spi_bus: spi1
run_current: 1
interpolate: True
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6



[stepper_z2]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15 
microsteps: 64
rotation_distance: 8


[tmc2240 stepper_z2]
cs_pin: PF8
#spi_bus: spi1
run_current: 1
interpolate: True
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6


###########  HEATER #############



[heater_bed]
heater_pin: PB7
sensor_pin: PA0 
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 105


###########  FAN  #########


[fan]
pin: PE0 

[fan_generic Static_Cooling]
pin: PC12

[heater_fan hotend_fan]
pin: PE6
heater: extruder
heater_temp: 30

[controller_fan driver_fan]
pin: PE5
stepper: stepper_x, stepper_y, extruder

[temperature_fan CM4]
pin: PE4
sensor_type: temperature_host
min_temp: 0
max_temp: 150
target_temp: 30
control: watermark
shutdown_speed: 0

[temperature_sensor Manta]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 150


##############  BED-LEVELING  #############

[probe]
pin: PF5
x_offset: 0
y_offset: -15
#z_offset = 2.250
speed: 5.0
samples: 2
sample_retract_dist: 2
lift_speed: 20
samples_result: average
samples_tolerance: 0.200
samples_tolerance_retries: 3

[z_tilt]
z_positions:
    -65,0
    95,235
    255,0
points:
    0, 5
    95, 190
    190, 5
speed: 300
#retries: 5
horizontal_move_z: 5
#retry_tolerance: 0.05

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 0, 0
mesh_max: 190, 190
probe_count: 5, 5

[exclude_object]

[safe_z_home]
home_xy_position: 95, 100
speed: 150
z_hop: 2
z_hop_speed: 20


####################### MACRO ####################

[gcode_macro BED_MESH_CALIBRATE]

rename_existing: BED_MESH_CALIBRATE_BASE
variable_parameter_AREA_START : 0,0
variable_parameter_AREA_END : 0,0 
variable_mesh_area_offset : 5.0
variable_probe_samples : 2
variable_min_probe_count : 4
variable_probe_count_scale_factor : 1.0
variable_enable_reference_index : False
gcode:
    {% if params.AREA_START and params.AREA_END %}
        {% set bedMeshConfig = printer["configfile"].config["bed_mesh"] %}
        {% set safe_min_x = bedMeshConfig.mesh_min.split(",")[0]|float %}
        {% set safe_min_y = bedMeshConfig.mesh_min.split(",")[1]|float %}
        {% set safe_max_x = bedMeshConfig.mesh_max.split(",")[0]|float %}
        {% set safe_max_y = bedMeshConfig.mesh_max.split(",")[1]|float %}

        {% set area_min_x = params.AREA_START.split(",")[0]|float %}
	{% set area_min_y = params.AREA_START.split(",")[1]|float %}
	{% set area_max_x = params.AREA_END.split(",")[0]|float %}
	{% set area_max_y = params.AREA_END.split(",")[1]|float %}

	{% if bedMeshConfig.probe_count.split(",")|length == 2 %}
            {% set meshPointX = bedMeshConfig.probe_count.split(",")[0]|int %}
            {% set meshPointY = bedMeshConfig.probe_count.split(",")[1]|int %}
        {% else %}
            {% set meshPointX = bedMeshConfig.probe_count.split(",")[0]|int %}
            {% set meshPointY = bedMeshConfig.probe_count.split(",")[0]|int %}
        {% endif %}

	{% set meshMaxPointX = meshPointX %}
	{% set meshMaxPointY = meshPointY %}


        {% if (area_min_x < area_max_x) and (area_min_y < area_max_y) %}
            {% if area_min_x - mesh_area_offset >=  safe_min_x %}
                {% set area_min_x = area_min_x - mesh_area_offset %}
            {% else %}
                {% set area_min_x = safe_min_x %}
            {% endif %}

            {% if area_min_y - mesh_area_offset >=  safe_min_y %}
                {% set area_min_y = area_min_y - mesh_area_offset %}
            {% else %}
                {% set area_min_y = safe_min_y %}
            {% endif %}

            {% if area_max_x + mesh_area_offset <=  safe_max_x %}
                {% set area_max_x = area_max_x + mesh_area_offset %}
            {% else %}
                {% set area_max_x = safe_max_x %}
            {% endif %}

            {% if area_max_y + mesh_area_offset <=  safe_max_y %}
                {% set area_max_y = area_max_y + mesh_area_offset %}
            {% else %}
                {% set area_max_y = safe_max_y %}
            {% endif %}

            {% set meshPointX = (meshPointX * (area_max_x - area_min_x) / (safe_max_x - safe_min_x) * probe_count_scale_factor)|round(0)|int %}
            {% if meshPointX < min_probe_count %}
                {% set meshPointX = min_probe_count %}
            {% endif %}
	    {% if meshPointX > meshMaxPointX %}
                {% set meshPointX = meshMaxPointX %}
            {% endif %}

            {% set meshPointY = (meshPointY * (area_max_y -area_min_y ) / (safe_max_y - safe_min_y) * probe_count_scale_factor )|round(0)|int %}
            {% if meshPointY < min_probe_count %}
                {% set meshPointY = min_probe_count %}
            {% endif %}
	    {% if meshPointY > meshMaxPointY %}
                {% set meshPointY = meshMaxPointY %}
            {% endif %}

            {% set algorithm = "bicubic" %}
	    {% if "algorithm" in bedMeshConfig %}
	        {% set algorithm = bedMeshConfig.algorithm %}
            {% endif %}
            {% if meshPointX >=7 or meshPointY >=7 %}
                {% set algorithm = "bicubic" %}
            {% endif %}

            {% if enable_reference_index %}
                {% set referenceIndex = (meshPointX * meshPointY / 2 - 1 )|round(0)|int %}
                BED_MESH_CALIBRATE_BASE mesh_min={area_min_x},{area_min_y} mesh_max={area_max_x},{area_max_y} probe_count={meshPointX},{meshPointY} samples={probe_samples|int} algorithm={algorithm} relative_reference_index={referenceIndex}
            {% else %}
                BED_MESH_CALIBRATE_BASE mesh_min={area_min_x},{area_min_y} mesh_max={area_max_x},{area_max_y} probe_count={meshPointX},{meshPointY} samples={probe_samples|int} algorithm={algorithm}
            {% endif %}
        {% else %}
            BED_MESH_CALIBRATE_BASE
        {% endif %}
    {% else %}
        BED_MESH_CALIBRATE_BASE
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.092900, 0.099150, 0.137900, -0.049913
#*# 	  0.033212, 0.077587, 0.046337, 0.113212
#*# 	  0.059462, 0.148212, 0.048212, 0.105400
#*# 	  0.019150, 0.094150, 0.163837, 0.023525
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 37.27
#*# max_x = 161.95
#*# min_y = 47.03
#*# max_y = 159.02
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.413
#*# pid_ki = 0.943
#*# pid_kd = 71.398
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.255
#*# pid_ki = 1.072
#*# pid_kd = 1183.729
#*#
#*# [probe]
#*# z_offset = 2.400
